@import "../../../styles/base.scss";

.item__list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $american-silver;
}

.item__left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;

  @include breakpoint(min-width, mobile) {
    padding: 0 24px;
    width: calc(100% - 150px);
  }

  @include breakpoint(max-width, mobile) {
    padding: 0 8px;
    width: calc(100% - 120px);
  }
}

.item__right {
  display: flex;

  @include breakpoint(min-width, mobile) {
    width: 150px;
  }

  @include breakpoint(max-width, mobile) {
    width: 120px;
  }
}

.item__category {
  font-family: "Source Pro Italic", sans-serif;
  color: $american-silver;
  font-size: 16px;
  line-height: 24px;
}

.item__name {
  font-family: "Source Pro Regular", sans-serif;
  margin: 0;
  word-break: break-word;
  color: $interdimensional-blue;

  @include breakpoint(min-width, mobile) {
    font-size: 24px;
    line-height: 32px;
  }

  @include breakpoint(max-width, mobile) {
    font-size: 20px;
    line-height: 28px;
  }
}

.item__button {
  padding-top: 45px;
  padding-bottom: 45px;

  @include breakpoint(min-width, mobile) {
    width: 75px;
  }

  @include breakpoint(max-width, mobile) {
    width: 60px;
  }

  &--edit {
    background-color: $international-orange;
  }

  &--delete {
    background-color: $black-coffee;
  }

  svg {
    height: 32px;
    width: 32px;
  }
}

.item__completed {
  background-color: $medium-spring-green;

  .item__name {
    color: $black-leather-jacket;
  }

  .item__category {
    color: $middle-green;
  }
}
