@use "../../../styles/base.scss" as styles;

.item__list {
  display: flex;
  justify-content: space-between;
  border-bottom: styles.to-rem(1) solid styles.$american-silver;
}

.item__left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;

  @include styles.breakpoint(min-width, mobile) {
    padding: styles.to-rem(0) styles.to-rem(24);
    width: calc(100% - 150px);
  }

  @include styles.breakpoint(max-width, mobile) {
    padding: styles.to-rem(0) styles.to-rem(8);
    width: calc(100% - 120px);
  }
}

.item__right {
  display: flex;

  @include styles.breakpoint(min-width, mobile) {
    width: styles.to-rem(150);
  }

  @include styles.breakpoint(max-width, mobile) {
    width: styles.to-rem(120);
  }
}

.item__category {
  font-family: "Source Pro Italic", sans-serif;
  color: styles.$american-silver;
  font-size: styles.to-rem(16);
  line-height: styles.to-rem(24);
}

.item__name {
  font-family: "Source Pro Regular", sans-serif;
  margin: styles.to-rem(0);
  word-break: break-word;
  color: styles.$interdimensional-blue;

  @include styles.breakpoint(min-width, mobile) {
    font-size: styles.to-rem(24);
    line-height: styles.to-rem(32);
  }

  @include styles.breakpoint(max-width, mobile) {
    font-size: styles.to-rem(20);
    line-height: styles.to-rem(28);
  }
}

.item__button {
  padding-top: styles.to-rem(45);
  padding-bottom: styles.to-rem(45);

  @include styles.breakpoint(min-width, mobile) {
    width: styles.to-rem(75);
  }

  @include styles.breakpoint(max-width, mobile) {
    width: styles.to-rem(60);
  }

  &--edit {
    background-color: styles.$international-orange;
  }

  &--delete {
    background-color: styles.$black-coffee;
  }

  svg {
    height: styles.to-rem(32);
    width: styles.to-rem(32);
  }
}

.item__completed {
  background-color: styles.$medium-spring-green;

  .item__name {
    color: styles.$black-leather-jacket;
  }

  .item__category {
    color: styles.$middle-green;
  }
}
