@import "../../../styles/base.scss";

.item__list {
  display: flex;
  justify-content: space-between;
  border-bottom: to-rem(1) solid $american-silver;
}

.item__left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;

  @include breakpoint(min-width, mobile) {
    padding: to-rem(0) to-rem(24);
    width: calc(100% - 150px);
  }

  @include breakpoint(max-width, mobile) {
    padding: to-rem(0) to-rem(8);
    width: calc(100% - 120px);
  }
}

.item__right {
  display: flex;

  @include breakpoint(min-width, mobile) {
    width: to-rem(150);
  }

  @include breakpoint(max-width, mobile) {
    width: to-rem(120);
  }
}

.item__category {
  font-family: "Source Pro Italic", sans-serif;
  color: $american-silver;
  font-size: to-rem(16);
  line-height: to-rem(24);
}

.item__name {
  font-family: "Source Pro Regular", sans-serif;
  margin: to-rem(0);
  word-break: break-word;
  color: $interdimensional-blue;

  @include breakpoint(min-width, mobile) {
    font-size: to-rem(24);
    line-height: to-rem(32);
  }

  @include breakpoint(max-width, mobile) {
    font-size: to-rem(20);
    line-height: to-rem(28);
  }
}

.item__button {
  padding-top: to-rem(45);
  padding-bottom: to-rem(45);

  @include breakpoint(min-width, mobile) {
    width: to-rem(75);
  }

  @include breakpoint(max-width, mobile) {
    width: to-rem(60);
  }

  &--edit {
    background-color: $international-orange;
  }

  &--delete {
    background-color: $black-coffee;
  }

  svg {
    height: to-rem(32);
    width: to-rem(32);
  }
}

.item__completed {
  background-color: $medium-spring-green;

  .item__name {
    color: $black-leather-jacket;
  }

  .item__category {
    color: $middle-green;
  }
}
