@import "../../../styles/base.scss";

.counter {
  position: absolute;
  bottom: to-rem(0);
  background-color: $white;
  border-top: to-rem(1) solid $interdimensional-blue;
  padding: to-rem(8) to-rem(12);
  width: calc(100% - 24px);
  display: flex;
  justify-content: space-between;

  @include breakpoint(min-width, tablet) {
    padding: to-rem(8) to-rem(24);
    width: calc(100% - 48px);
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__divider {
    font-family: "Source Pro Regular", sans-serif;
    font-size: to-rem(22);
    line-height: to-rem(22);
    margin: to-rem(0) to-rem(8);
    color: $interdimensional-blue;
    cursor: default;
  }

  &__amount {
    font-family: "Source Pro Bold", sans-serif;
    font-size: to-rem(12);
    line-height: to-rem(12);
    border-radius: to-rem(4);
    padding: to-rem(5);
    background-color: $interdimensional-blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;

    &--current__amount {
      background-color: $international-orange;
    }

    &--completed {
      background-color: $medium-spring-green;
      color: $black-leather-jacket;
    }
  }

  &__text {
    font-family: "Source Pro Regular", sans-serif;
    font-size: to-rem(12);
    line-height: to-rem(12);
    color: $interdimensional-blue;
    text-transform: capitalize;
    margin-left: to-rem(8);
  }
}
