@use "../../../styles/base.scss" as styles;

.counter {
  position: absolute;
  bottom: styles.to-rem(0);
  background-color: styles.$white;
  border-top: styles.to-rem(1) solid styles.$interdimensional-blue;
  padding: styles.to-rem(8) styles.to-rem(12);
  width: calc(100% - 24px);
  display: flex;
  justify-content: space-between;

  @include styles.breakpoint(min-width, tablet) {
    padding: styles.to-rem(8) styles.to-rem(24);
    width: calc(100% - 48px);
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__divider {
    font-family: "Source Pro Regular", sans-serif;
    font-size: styles.to-rem(22);
    line-height: styles.to-rem(22);
    margin: styles.to-rem(0) styles.to-rem(8);
    color: styles.$interdimensional-blue;
    cursor: default;
  }

  &__amount {
    font-family: "Source Pro Bold", sans-serif;
    font-size: styles.to-rem(12);
    line-height: styles.to-rem(12);
    border-radius: styles.to-rem(4);
    padding: styles.to-rem(5);
    background-color: styles.$interdimensional-blue;
    color: styles.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;

    &--current__amount {
      background-color: styles.$international-orange;
    }

    &--completed {
      background-color: styles.$medium-spring-green;
      color: styles.$black-leather-jacket;
    }
  }

  &__text {
    font-family: "Source Pro Regular", sans-serif;
    font-size: styles.to-rem(12);
    line-height: styles.to-rem(12);
    color: styles.$interdimensional-blue;
    text-transform: capitalize;
    margin-left: styles.to-rem(8);
  }
}
