@import "../../../styles/base.scss";

.counter {
  position: absolute;
  bottom: 0;
  background-color: $white;
  border-top: 1px solid $interdimensional-blue;
  padding: 8px 12px;
  width: calc(100% - 24px);
  display: flex;
  justify-content: space-between;

  @include breakpoint(min-width, tablet) {
    padding: 8px 24px;
    width: calc(100% - 48px);
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__divider {
    font-family: "Source Pro Regular", sans-serif;
    font-size: 22px;
    line-height: 22px;
    margin: 0 8px;
    color: $interdimensional-blue;
    cursor: default;
  }

  &__amount {
    font-family: "Source Pro Bold", sans-serif;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
    padding: 5px;
    background-color: $interdimensional-blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;

    &--current__amount {
      background-color: $international-orange;
    }

    &--completed {
      background-color: $medium-spring-green;
      color: $black-leather-jacket;
    }
  }

  &__text {
    font-family: "Source Pro Regular", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: $interdimensional-blue;
    text-transform: capitalize;
    margin-left: 8px;
  }
}
