@import "../../../styles/base.scss";

.filter {
  position: relative;
  z-index: 0;

  @media screen and (min-width: 992px) {
    left: -23px;
  }

  @media screen and (max-width: 991px) {
    margin-top: 4px;
    left: -12px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: -23px;
  }

  &:before {
    background-image: url("../../../assets/icons/arrow-down.png");
    background-repeat: no-repeat;
    right: -20px;
    top: 7px;
    width: 16px;
    height: 16px;
    z-index: 1;
  }

  &:after {
    top: 0;
    right: -23px;
    width: 23px;
    height: 23px;
    pointer-events: none;
    background-color: $pixie-powder;
  }

  select {
    appearance: none;
    border: none;
    box-shadow: 0 5px 25px rgba($black, .2);
    background-color: $interdimensional-blue;
    color: $white;
    padding: 4px;
    width: calc(100% + 23px);
  }
}
