@use "../../../styles/base.scss" as styles;

.filter {
  position: relative;
  z-index: 0;

  @include styles.breakpoint(min-width, tablet) {
    left: styles.to-rem(-23);
  }

  @include styles.breakpoint(max-width, tablet) {
    margin-top: styles.to-rem(4);
    left: styles.to-rem(-12);
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: styles.to-rem(-23);
  }

  &:before {
    background-image: url("../../../assets/icons/arrow-down.png");
    background-repeat: no-repeat;
    right: styles.to-rem(-20);
    top: styles.to-rem(7);
    width: styles.to-rem(16);
    height: styles.to-rem(16);
    z-index: 1;
  }

  &:after {
    top: styles.to-rem(0);
    right: styles.to-rem(-23);
    width: styles.to-rem(23);
    height: styles.to-rem(23);
    pointer-events: none;
    background-color: styles.$interdimensional-blue;
  }

  select {
    appearance: none;
    border: none;
    box-shadow: styles.to-rem(0) styles.to-rem(5) styles.to-rem(25) rgba(styles.$black, .2);
    background-color: styles.$interdimensional-blue;
    color: styles.$white;
    padding: styles.to-rem(4);
    width: calc(100% + 23px);
  }
}
