@import "../../../styles/base.scss";

.modal {
  position: fixed;
  top: to-rem(0);
  left: to-rem(0);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__box {
    position: relative;
    z-index: 2;
    background-color: #FFF;
    padding: to-rem(16) to-rem(0) to-rem(0) to-rem(0);
    width: 100%;
    max-width: to-rem(250);

    &--top {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__overlay {
    background-color: rgba(#000, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__close {
    display: inline-block;
    cursor: pointer;
    padding: to-rem(0) to-rem(16);

    svg {
      height: to-rem(24);
      width: to-rem(24);

      g {
        fill: #4A0FCB;
      }
    }
  }

  &__footer {
    padding-top: to-rem(16);
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: 100%;

    &--container {
      display: flex;
      width: 100%;
    }

    .button__update,
    .button__exit {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button__update {
      background-color: #12AD2B;
    }

    .button__exit {
      background-color: #C35817;
    }
  }
}
