.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal__box {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 16px;
  width: 100%;
  max-width: 250px;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal__close {
  cursor: pointer;
}
