@use "../../../styles/base.scss" as styles;

.modal {
  position: fixed;
  top: styles.to-rem(0);
  left: styles.to-rem(0);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__box {
    position: relative;
    z-index: 2;
    background-color: styles.$white;
    padding: styles.to-rem(16) styles.to-rem(0) styles.to-rem(0) styles.to-rem(0);
    width: 100%;
    max-width: styles.to-rem(250);

    &--top {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__overlay {
    background-color: rgba(styles.$black, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__close {
    display: inline-block;
    cursor: pointer;
    padding: styles.to-rem(0) styles.to-rem(16);

    svg {
      height: styles.to-rem(24);
      width: styles.to-rem(24);

      g {
        fill: styles.$interdimensional-blue;
      }
    }
  }

  &__footer {
    padding-top: styles.to-rem(16);
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: 100%;

    &--container {
      display: flex;
      width: 100%;
    }

    .button__update,
    .button__exit {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button__update {
      background-color: styles.$dark-pastel-green;
    }

    .button__exit {
      background-color: styles.$alloy-orange;
    }
  }
}
