$transparent: transparent;
$white: #fff;
$american-silver: #d1d0ce;
$marigold: #e8a317;
$atomic-tangerine: #ff9462;
$alloy-orange: #c35817;
$dingy-dungeon: #c63457;
$international-orange: #c11b17;
$medium-spring-green: #00fa9a;
$dark-pastel-green: #12ad2b;
$middle-green: #4e9258;
$black-leather-jacket: #254117;
$grape: #85219d;
$interdimensional-blue: #4a0fcb;
$pixie-powder: #370a9a;
$black-coffee: #34282c;
$black: #000;
