$transparent: transparent;
$white: #FFF;
$american-silver: #D1D0CE;
$marigold: #E8A317;
$atomic-tangerine: #FF9462;
$alloy-orange: #C35817;
$dingy-dungeon: #C63457;
$international-orange: #C11B17;
$medium-spring-green: #00FA9A;
$dark-pastel-green: #12AD2B;
$middle-green: #4E9258;
$black-leather-jacket: #254117;
$grape: #85219D;
$interdimensional-blue: #4A0FCB;
$pixie-powder: #370A9A;
$black-coffee: #34282C;
$black: #000;
