@font-face {
  font-display: swap;
  font-family: 'Source Pro Light';
  font-style: normal;
  font-weight: 200;
  src: url('../../src/fonts/source-sans-pro/SourceSansPro-ExtraLight.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Source Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../src/fonts/source-sans-pro/SourceSansPro-Regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Source Pro Italic';
  font-style: italic;
  font-weight: normal;
  src: url('../../src/fonts/source-sans-pro/SourceSansPro-Italic.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Source Pro Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../../src/fonts/source-sans-pro/SourceSansPro-Bold.woff2')
    format('woff2');
}
