:root {
  --color-alloy-orange: #c35817;
  --color-american-silver: #d1d0ce;
  --color-atomic-tangerine: #ff9462;
  --color-black: #000;
  --color-black-coffee: #34282c;
  --color-black-leather-jacket: #254117;
  --color-dark-pastel-green: #12ad2b;
  --color-dingy-dungeon: #c63457;
  --color-grape: #85219d;
  --color-interdimensional-blue: #4a0fcb;
  --color-international-orange: #c11b17;
  --color-marigold: #e8a317;
  --color-medium-spring-green: #00fa9a;
  --color-middle-green: #4e9258;
  --color-pixie-powder: #370a9a;
  --color-transparent: transparent;
  --color-white: #fff;
}
