@import "../../../styles/base.scss";

.button {
  appearance: none;
  border: none;
  cursor: pointer;

  &--rounded {
    width: to-rem(64);
    height: to-rem(64);
    border-radius: 50%;
  }

  svg {
    height: to-rem(32);
    width: to-rem(32);

    path,
    g,
    polygon,
    rect {
      fill: $white;
    }
  }
}
