@use "../../../styles/base.scss" as styles;

.button {
  appearance: none;
  border: none;
  cursor: pointer;

  &--rounded {
    width: styles.to-rem(64);
    height: styles.to-rem(64);
    border-radius: 50%;
  }

  svg {
    height: styles.to-rem(32);
    width: styles.to-rem(32);

    path,
    g,
    polygon,
    rect {
      fill: styles.$white;
    }
  }
}
