.button__add {
  margin: 0;
  background-color: #4a0fcb;
}

.new-expense {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #d1d0ce;
}

.new-expense:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4a0fcb;
  z-index: 0;
}

@media screen and (min-width: 992px) {
  .new-expense {
    padding: 24px;
    justify-content: space-between;
  }

  .new-expense:before {
    content: "";
  }
}

@media screen and (max-width: 991px) {
  .new-expense {
    padding: 12px;
    flex-flow: column;
  }

  .new-expense:before {
    content: none;
  }
}
