@use '../../styles/base.scss' as styles;

.button__add {
  margin: styles.to-rem(0);
  background-color: styles.$interdimensional-blue;
}

.new-expense {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: styles.to-rem(1) solid styles.$american-silver;

  @include styles.breakpoint(min-width, tablet) {
    padding: styles.to-rem(24);
    justify-content: space-between;
  }

  @include styles.breakpoint(max-width, tablet) {
    padding: styles.to-rem(12);
    flex-flow: column;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: styles.to-rem(0);
    width: 100%;
    height: styles.to-rem(1);
    background-color: styles.$interdimensional-blue;
    z-index: 0;

    @include styles.breakpoint(min-width, tablet) {
      content: '';
    }

    @include styles.breakpoint(max-width, tablet) {
      content: none;
    }
  }
}
