@import "../../styles/base.scss";

.button__add {
  margin: to-rem(0);
  background-color: #4A0FCB;
}

.new-expense {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: to-rem(1) solid #D1D0CE;

  @media screen and (min-width: 992px) {
    padding: to-rem(24);
    justify-content: space-between;
  }

  @media screen and (max-width: 991px) {
    padding: to-rem(12);
    flex-flow: column;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: to-rem(0);
    width: 100%;
    height: to-rem(1);
    background-color: #4A0FCB;
    z-index: 0;

    @media screen and (min-width: 992px) {
      content: "";
    }

    @media screen and (max-width: 991px) {
      content: none;
    }
  }
}
