@import "../../styles/base.scss";

.button__add {
  margin: to-rem(0);
  background-color: $interdimensional-blue;
}

.new-expense {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: to-rem(1) solid $american-silver;

  @include breakpoint(min-width, tablet) {
    padding: to-rem(24);
    justify-content: space-between;
  }

  @include breakpoint(max-width, tablet) {
    padding: to-rem(12);
    flex-flow: column;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: to-rem(0);
    width: 100%;
    height: to-rem(1);
    background-color: $interdimensional-blue;
    z-index: 0;

    @include breakpoint(min-width, tablet) {
      content: "";
    }

    @include breakpoint(max-width, tablet) {
      content: none;
    }
  }
}
