@import "../../../styles/base.scss";

.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 991px) {
    justify-content: center;
  }
}

.button__submit {
  background-color: #12AD2B;

  @media screen and (min-width: 992px) {
    margin: to-rem(0) to-rem(4) to-rem(0) to-rem(4);
  }

  @media screen and (max-width: 991px) {
    margin: to-rem(4) to-rem(4) to-rem(0) to-rem(4);
  }
}

.button__cancel {
  background-color: #E8A317;

  @media screen and (min-width: 992px) {
    margin: to-rem(0) to-rem(4) to-rem(0) to-rem(4);
  }

  @media screen and (max-width: 991px) {
    margin: to-rem(4) to-rem(4) to-rem(0) to-rem(4);
  }
}

.input__category {
  font-family: "Source Pro Light", sans-serif;
  font-size: to-rem(16);
  appearance: none;
  height: to-rem(32);
  border-radius: to-rem(0);
  border-top: to-rem(1) solid #D1D0CE;
  border-left: to-rem(1) solid #D1D0CE;
  border-right: to-rem(1) solid #D1D0CE;
  border-bottom: to-rem(3) solid #85219D;
  padding: to-rem(2) to-rem(12);
  color: #85219D;

  @media screen and (min-width: 992px) {
    margin-right: to-rem(8);
  }

  @media screen and (max-width: 991px) {
    flex-basis: 100%;
  }

  &.empty-category {
    font-family: "Source Pro Light", sans-serif;
    border: to-rem(3) solid #C11B17;
    color: #C11B17;
    box-sizing: border-box;
    height: to-rem(40);

    &::-webkit-input-placeholder {
      color: #C11B17;
    }

    &::-moz-placeholder {
      color: #C11B17;
    }

    &:-ms-input-placeholder {
      color: #C11B17;
    }

    &:-moz-placeholder {
      color: #C11B17;
    }
  }

  &::-webkit-input-placeholder {
    color: #85219D;
  }

  &::-moz-placeholder {
    color: #85219D;
  }

  &:-ms-input-placeholder {
    color: #85219D;
  }

  &:-moz-placeholder {
    color: #85219D;
  }
}

.input__text {
  font-family: "Source Pro Light", sans-serif;
  font-size: to-rem(16);
  appearance: none;
  height: to-rem(32);
  border-radius: to-rem(0);
  border-top: to-rem(1) solid #D1D0CE;
  border-left: to-rem(1) solid #D1D0CE;
  border-right: to-rem(1) solid #D1D0CE;
  border-bottom: to-rem(3) solid #85219D;
  padding: to-rem(2) to-rem(12);
  color: #85219D;

  @media screen and (min-width: 992px) {
    margin-right: to-rem(8);
  }

  @media screen and (max-width: 991px) {
    flex-basis: 100%;
    margin-bottom: to-rem(4);
  }

  &.empty-title {
    font-family: "Source Pro Light", sans-serif;
    border: to-rem(3) solid #C11B17;
    color: #C11B17;
    box-sizing: border-box;
    height: to-rem(40);

    &::-webkit-input-placeholder {
      color: #C11B17;
    }

    &::-moz-placeholder {
      color: #C11B17;
    }

    &:-ms-input-placeholder {
      color: #C11B17;
    }

    &:-moz-placeholder {
      color: #C11B17;
    }
  }

  &::-webkit-input-placeholder {
    color: #85219D;
  }

  &::-moz-placeholder {
    color: #85219D;
  }

  &:-ms-input-placeholder {
    color: #85219D;
  }

  &:-moz-placeholder {
    color: #85219D;
  }
}
