@import "../../../styles/base.scss";

.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

  @include breakpoint(max-width, tablet) {
    justify-content: center;
  }
}

.button__submit {
  background-color: $dark-pastel-green;

  @include breakpoint(min-width, tablet) {
    margin: to-rem(0) to-rem(4) to-rem(0) to-rem(4);
  }

  @include breakpoint(max-width, tablet) {
    margin: to-rem(4) to-rem(4) to-rem(0) to-rem(4);
  }
}

.button__cancel {
  background-color: $marigold;

  @include breakpoint(min-width, tablet) {
    margin: to-rem(0) to-rem(4) to-rem(0) to-rem(4);
  }

  @include breakpoint(max-width, tablet) {
    margin: to-rem(4) to-rem(4) to-rem(0) to-rem(4);
  }
}

.input__category {
  font-family: "Source Pro Light", sans-serif;
  font-size: to-rem(16);
  appearance: none;
  height: to-rem(32);
  border-radius: to-rem(0);
  border-top: to-rem(1) solid $american-silver;
  border-left: to-rem(1) solid $american-silver;
  border-right: to-rem(1) solid $american-silver;
  border-bottom: to-rem(3) solid $grape;
  padding: to-rem(2)to-rem(12);
  color: $grape;

  @include breakpoint(min-width, tablet) {
    margin-right: to-rem(8);
  }

  @include breakpoint(max-width, tablet) {
    flex-basis: 100%;
  }

  &.empty-category {
    font-family: "Source Pro Light", sans-serif;
    border: to-rem(3) solid $international-orange;
    color: $international-orange;
    box-sizing: border-box;
    height: to-rem(40);

    &::-webkit-input-placeholder {
      color: $international-orange;
    }

    &::-moz-placeholder {
      color: $international-orange;
    }

    &:-ms-input-placeholder {
      color: $international-orange;
    }

    &:-moz-placeholder {
      color: $international-orange;
    }
  }

  &::-webkit-input-placeholder {
    color: $grape;
  }

  &::-moz-placeholder {
    color: $grape;
  }

  &:-ms-input-placeholder {
    color: $grape;
  }

  &:-moz-placeholder {
    color: $grape;
  }
}

.input__text {
  font-family: "Source Pro Light", sans-serif;
  font-size: to-rem(16);
  appearance: none;
  height: to-rem(32);
  border-radius: to-rem(0);
  border-top: to-rem(1) solid $american-silver;
  border-left: to-rem(1) solid $american-silver;
  border-right: to-rem(1) solid $american-silver;
  border-bottom: to-rem(3) solid $grape;
  padding: to-rem(2) to-rem(12);
  color: $grape;

  @include breakpoint(min-width, tablet) {
    margin-right: to-rem(8);
  }

  @include breakpoint(max-width, tablet) {
    flex-basis: 100%;
    margin-bottom: to-rem(4);
  }

  &.empty-title {
    font-family: "Source Pro Light", sans-serif;
    border: to-rem(3) solid $international-orange;
    color: $international-orange;
    box-sizing: border-box;
    height: to-rem(40);

    &::-webkit-input-placeholder {
      color: $international-orange;
    }

    &::-moz-placeholder {
      color: $international-orange;
    }

    &:-ms-input-placeholder {
      color: $international-orange;
    }

    &:-moz-placeholder {
      color: $international-orange;
    }
  }

  &::-webkit-input-placeholder {
    color: $grape;
  }

  &::-moz-placeholder {
    color: $grape;
  }

  &:-ms-input-placeholder {
    color: $grape;
  }

  &:-moz-placeholder {
    color: $grape;
  }
}
