.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.button__submit {
  background-color: #12ad2b;
}

.button__cancel {
  background-color: #e8a317;
}

.input__category,
.input__text {
  font-family: "Source Pro Light", sans-serif;
  font-size: 16px;
  appearance: none;
  height: 32px;
  border-radius: 0;
  border-top: 1px solid #d1d0ce;
  border-left: 1px solid #d1d0ce;
  border-right: 1px solid #d1d0ce;
  border-bottom: 3px solid #85219d;
  padding: 2px 12px;
  color: #85219d;
}

.input__category.empty-category,
.input__text.empty-title {
  font-family: "Source Pro Light", sans-serif;
  border: 3px solid #c11b17;
  color: #c11b17;
  box-sizing: border-box;
  height: 40px;
}

.input__category::-webkit-input-placeholder,
.input__text::-webkit-input-placeholder {
  color: #85219d;
}

.input__category::-moz-placeholder,
.input__text::-moz-placeholder {
  color: #85219d;
}

.input__category:-ms-input-placeholder,
.input__text:-ms-input-placeholder {
  color: #85219d;
}

.input__category:-moz-placeholder,
.input__text:-moz-placeholder {
  color: #85219d;
}

.input__category.empty-category::-webkit-input-placeholder,
.input__text.empty-title::-webkit-input-placeholder {
  color: #c11b17;
}

.input__category.empty-category::-moz-placeholder,
.input__text.empty-title::-moz-placeholder {
  color: #c11b17;
}

.input__category.empty-category:-ms-input-placeholder,
.input__text.empty-title:-ms-input-placeholder {
  color: #c11b17;
}

.input__category.empty-category:-moz-placeholder,
.input__text.empty-title:-moz-placeholder {
  color: #c11b17;
}

@media screen and (min-width: 992px) {
  .input__category,
  .input__text {
    margin-right: 8px;
  }

  .button__submit,
  .button__cancel {
    margin: 0 4px 0 4px;
  }
}

@media screen and (max-width: 991px) {
  .form {
    justify-content: center;
  }

  .input__category,
  .input__text {
    flex-basis: 100%;
  }

  .input__text {
    margin-bottom: 4px;
  }

  .button__submit,
  .button__cancel {
    margin: 4px 4px 0 4px;
  }
}
