.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.button__submit {
  background-color: #12AD2B;
}

.button__cancel {
  background-color: #E8A317;
}

.input__category,
.input__text {
  font-family: "Source Pro Light", sans-serif;
  appearance: none;
  height: 32px;
  border-radius: 0;
  border-top: 1px solid #D1D0CE;
  border-left: 1px solid #D1D0CE;
  border-right: 1px solid #D1D0CE;
  border-bottom: 3px solid #85219d;
  padding: 2px 12px;
  color: #85219d;
}

.input__category::-webkit-input-placeholder,
.input__text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #85219d;
}

.input__category::-moz-placeholder,
.input__text::-moz-placeholder { /* Firefox 19+ */
  color: #85219d;
}

.input__category:-ms-input-placeholder,
.input__text:-ms-input-placeholder { /* IE 10+ */
  color: #85219d;
}

.input__category:-moz-placeholder,
.input__text:-moz-placeholder { /* Firefox 18- */
  color: #85219d;
}

@media screen and (min-width: 992px) {
  .input__category,
  .input__text {
    margin-right: 8px;
  }

  .button__submit,
  .button__cancel {
    margin: 0 4px 0 4px;
  }
}

@media screen and (max-width: 991px) {
  .form {
    justify-content: center;
  }

  .input__category,
  .input__text {
    flex-basis: 100%;
  }

  .input__text {
    margin-bottom: 4px;
  }

  .button__submit,
  .button__cancel {
    margin: 4px 4px 0 4px;
  }
}
