@import "../../../styles/base.scss";

.list {
  list-style-type: none;
  padding-left: to-rem(0);
  margin: to-rem(0);
  height: calc(100% - 41px);
  overflow-y: auto;
}

.alert {
  margin: to-rem(0) auto;
  padding-top: to-rem(16);

  @include breakpoint(min-width, tablet) {
    max-width: calc(100% - 200px);
  }

  @include breakpoint(max-width, tablet) {
    max-width: calc(100% - 64px);
  }

  &__message {
    font-family: "Source Pro Light", sans-serif;
    margin: to-rem(0);
    font-size: to-rem(16);
    line-height: to-rem(14);
    color: $white;
    padding: to-rem(12) to-rem(20);
    border-radius: to-rem(4);
    border: to-rem(1) solid $interdimensional-blue;
    background-color: $grape;
  }
}
