@import "../../../styles/base.scss";

.list {
  list-style-type: none;
  padding-left: to-rem(0);
  margin: to-rem(0);
  height: calc(100% - 41px);
  overflow-y: auto;
}

.alert {
  margin: 0 auto;
  padding-top: to-rem(16);

  @media screen and (min-width: 992px) {
    max-width: calc(100% - 200px);
  }

  @media screen and (max-width: 991px) {
    max-width: calc(100% - 64px);
  }

  &__message {
    font-family: "Source Pro Light", sans-serif;
    margin: to-rem(0);
    font-size: to-rem(16);
    line-height: to-rem(14);
    color: #FFF;
    padding: to-rem(12) to-rem(20);
    border-radius: to-rem(4);
    border: to-rem(1) solid #4A0FCB;
    background-color: #85219D;
  }
}
