.form__edit {
  justify-content: center;
}

.form__edit .input {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
}

.form__edit .error__message {
  color: red;
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
