@import "../../../styles/base.scss";

.form__edit {
  justify-content: center;

  .input {
    font-family: "Source Pro Light", sans-serif;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    padding: 16px;
    margin: 0 16px;
    color: #4A0FCB;
    border: 2px solid #4A0FCB;

    &:first-child {
      margin-bottom: 16px;
      margin-top: 10px;
    }

    &::-webkit-input-placeholder {
      color: #4A0FCB;
    }

    &::-moz-placeholder {
      color: #4A0FCB;
    }

    &:-ms-input-placeholder {
      color: #4A0FCB;
    }

    &:-moz-placeholder {
      color: #4A0FCB;
    }
  }

  .error__message {
    font-family: "Source Pro Bold", sans-serif;
    color: #C11B17;
    font-size: 14px;
    margin: 0 0 16px 0;
    text-transform: uppercase;
  }
}

.buttons__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
