.form__edit {
  justify-content: center;
}

.form__edit .input {
  font-family: "Source Pro Light", sans-serif;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  padding: 16px;
  margin: 0 16px;
  color: #4a0fcb;
  border: 2px solid #4a0fcb;
}

.form__edit .input:first-child {
  margin-bottom: 16px;
  margin-top: 10px;
}

.form__edit .error__message {
  font-family: "Source Pro Bold", sans-serif;
  color: #c11b17;
  font-size: 14px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}

.form__edit .input::-webkit-input-placeholder {
  color: #4a0fcb;
}

.form__edit .input::-moz-placeholder {
  color: #4a0fcb;
}

.form__edit .input:-ms-input-placeholder {
  color: #4a0fcb;
}

.form__edit .input:-moz-placeholder {
  color: #4a0fcb;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
