@import "../../../styles/base.scss";

.form__edit {
  justify-content: center;

  .input {
    font-family: "Source Pro Light", sans-serif;
    font-size: to-rem(16);
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    padding: to-rem(16);
    margin: to-rem(0) to-rem(16);
    color: $interdimensional-blue;
    border: to-rem(2) solid $interdimensional-blue;

    &:first-child {
      margin-bottom: to-rem(16);
      margin-top: to-rem(10);
    }

    &::-webkit-input-placeholder {
      color: $interdimensional-blue;
    }

    &::-moz-placeholder {
      color: $interdimensional-blue;
    }

    &:-ms-input-placeholder {
      color: $interdimensional-blue;
    }

    &:-moz-placeholder {
      color: $interdimensional-blue;
    }
  }

  .error__message {
    font-family: "Source Pro Bold", sans-serif;
    color: $international-orange;
    font-size: to-rem(14);
    margin: to-rem(0) to-rem(0) to-rem(16) to-rem(0);
    text-transform: uppercase;
  }
}

.buttons__container {
  display: flex;
  flex-direction: row;
  gap: to-rem(10);
}
