@import "../../../styles/base.scss";

.background {
  display: flex;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;

  &__left {
    width: 65%;
    background-color: $interdimensional-blue;
    position: relative;

    &--side {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 40vh solid $atomic-tangerine;
      border-left: 40vh solid $transparent;
    }
  }

  &__right {
    width: 35%;

    &--top {
      background-color: $grape;
      height: 40%;
    }

    &--bottom {
      background-color: $dingy-dungeon;
      height: 60%;
    }
  }
}
