.background {
  display: flex;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.background__left {
  width: 65%;
  background-color: #4a0fcb;
  position: relative;
}

.background__left--side {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 40vh solid #ff9462;
  border-left: 40vh solid transparent;
}

.background__right {
  width: 35%;
}

.background__right--top {
  background-color: #85219d;
  height: 40%;
}

.background__right--bottom {
  background-color: #c63457;
  height: 60%;
}
