@use "../../../styles/base.scss" as styles;

.background {
  display: flex;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;

  &__left {
    width: 65%;
    background-color: styles.$interdimensional-blue;
    position: relative;

    &--side {
      position: absolute;
      top: styles.to-rem(0);
      right: styles.to-rem(0);
      width: styles.to-rem(0);
      height: styles.to-rem(0);
      border-top: 40vh solid styles.$atomic-tangerine;
      border-left: 40vh solid styles.$transparent;
    }
  }

  &__right {
    width: 35%;

    &--top {
      background-color: styles.$grape;
      height: 40%;
    }

    &--bottom {
      background-color: styles.$dingy-dungeon;
      height: 60%;
    }
  }
}
